<% content_for(:title, t('.title')) %>
    <div class="text-orange text-base" data-controller="form step-form loading-modal">
      <%= form_with model: @fraud_report, data: { action: "submit->loading-modal#show"} do  |f| %>
        <div id="step1" style="display: block;" data-step-form-target="step">
          <div class="m-4 overflow-x-auto flex justify-center">
            <%= render partial: 'layouts/steps', locals: { now_step: 1 } %>
          </div>
          <div class="card bg-gray-50 shadow-xl m-4">
            <div class="card-body">
              <div class="flex flex-col text-slate-950">
                <p class="card-title text-orange justify-center py-4 md:text-2xl lg:text-3xl">接触方法はなんでしたか？</p>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :contact_method, "電話", id: "contact_method_phone", class: "js-check-method" %>
                    <%= f.label :contact_method_phone, "電話", for: "contact_method_phone", class: "ml-2 w-full"%>
                  </div>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :contact_method, "メール", id: "contact_method_email", class: "js-check-method"%>
                    <%= f.label :contact_method_email, "メール", for: "contact_method_email", class: "ml-2 w-full" %>
                  </div>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :contact_method, "SMS(ショートメッセージ)", id: "contact_method_sms", class: "js-check-method"%>
                    <%= f.label :contact_method_sms, "SMS(ショートメッセージ)", for: "contact_method_sms", class: "ml-2 w-full" %>
                  </div>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :contact_method, "ソーシャルメディア(Facebook、Twitterなど)", id: "contact_method_social_media", class: "js-check-method"%>
                    <%= f.label :contact_method_social_media, "ソーシャルメディア(Facebook、Twitterなど)", for: "contact_method_social_media", class: "ml-2 w-full"%>
                  </div>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :contact_method, "直接・対面で", id: "contact_method_in_person", class: "js-check-method"%>
                    <%= f.label :contact_method_in_person, "直接・対面で", for: "contact_method_in_person", class: "ml-2 w-full"%>
                  </div>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :contact_method, "メッセージングアプリ（LINE、WhatsAppなど）", id: "contact_method_messaging_app", class: "js-check-method"%>
                    <%= f.label :contact_method_messaging_app, "メッセージングアプリ（LINE、WhatsAppなど)", for: "contact_method_messaging_app", class: "ml-2 w-full" %>
                  </div>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :contact_method, "その他", id: "contact_method_other", class: "js-check-method"%>
                    <%= f.label :contact_method_other, "その他", for: "contact_method_other", class: "ml-2 w-full"%>
                  </div>
                  <span id="method"><%= f.text_area :contact_method, id: "contact_method_text", disabled: true, required: true, placeholder: "具体的に入力してください", class:"w-full h-24 border-b border-dashed textarea textarea-bordered" %></span>

                  <button type="button" data-action="step-form#nextStep" class="btn btn-warning mt-10 md:text-xl">次へ</button>
              </div>
            </div>
          </div>
        </div>

        <div id="step2" style="display: none;" data-step-form-target="step" >
            <div class="m-4 overflow-x-auto flex justify-center">
              <%= render partial: 'layouts/steps', locals: { now_step: 2 } %>
            </div>
          <div class="card bg-gray-50 shadow-xl m-4">
            <div class="card-body">
              <div class="flex flex-col text-slate-950">
                <p class="card-title text-orange justify-center py-4 md:text-2xl lg:text-3xl">何について提案されていますか</p>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :contact_content, "投資の勧誘", id: "contact_content_investment", class: "js-check-content" %>
                    <%= f.label :contact_content_investment, "投資の勧誘", for:"contact_content_investment", class: "ml-2 w-full" %>
                  </div>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :contact_content, "ビジネスの案内", id: "contact_content_business", class: "js-check-content" %>
                    <%= f.label :contact_content_business, "ビジネスの案内", for:"contact_content_business", class: "ml-2 w-full" %>
                  </div>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :contact_content, "賞金や景品の当選通知", id: "contact_content_prize", class: "js-check-content" %>
                    <%= f.label :contact_content_prize, "賞金や景品の当選通知", for:"contact_content_prize", class: "ml-2 w-full" %>
                  </div>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :contact_content, "求人情報", id: "contact_content_job", class: "js-check-content" %>
                    <%= f.label :contact_content_job, "求人情報", for:"contact_content_job", class: "ml-2 w-full" %>
                  </div>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :contact_content, "デートなどの誘い", id: "contact_content_date", class: "js-check-content" %>
                    <%= f.label :contact_content_date, "デートなどの誘い", for:"contact_content_date", class: "ml-2 w-full" %>
                  </div>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :contact_content, "技術サポートの提供", id: "contact_content_tech_support", class: "js-check-content" %>
                    <%= f.label :contact_content_tech_support, "技術サポートの提供", for:"contact_content_tech_support", class: "ml-2 w-full" %>
                  </div>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :contact_content, "カジノ/ギャンブルの勧誘", id: "contact_content_casino", class: "js-check-content" %>
                    <%= f.label :contact_content_casino, "カジノ/ギャンブルの勧誘", for:"contact_content_casino", class: "ml-2 w-full" %>
                  </div>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :contact_content, "金銭援助", id: "contact_content_money_aid", class: "js-check-content" %>
                    <%= f.label :contact_content_money_aid, "金銭援助", for:"contact_content_money_aid", class: "ml-2 w-full" %>
                  </div>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :contact_content, "更新のお知らせ", id: "contact_content_update", class: "js-check-content" %>
                    <%= f.label :contact_content_update, "更新のお知らせ", for:"contact_content_update", class: "ml-2 w-full" %>
                  </div>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :contact_content, "その他", id: "contact_content_other", class: "js-check-content" %>
                    <%= f.label :contact_content_other, "その他", for:"contact_content_other", class: "ml-2 w-full" %>
                  </div>
                    <span id="content"><%= f.text_area :contact_content, id: "contact_content_text", disabled: true, required: true, placeholder: "具体的に入力してください", class:"w-full h-24 border-b border-dashed textarea textarea-bordered" %></span>
                  <div class="flex flex-row justify-between">
                    <button type="button" data-action="step-form#prevStep" class="btn btn-success mt-10 w-1/4 md:text-xl">戻る</button>
                    <button type="button" data-action="step-form#nextStep" class="btn btn-warning mt-10 w-1/4 md:text-xl">次へ</button>
                  </div>
              </div>
            </div>
          </div>
        </div>

        <div id="step3" style="display: none;" data-step-form-target="step">
            <div class="m-4 overflow-x-auto flex justify-center">
              <%= render partial: 'layouts/steps', locals: { now_step: 3 } %>
            </div>
          <div class="card bg-gray-50 shadow-xl m-4">
            <div class="card-body">
              <div class="flex flex-col text-slate-950">
                <p class="card-title text-orange justify-center py-4 md:text-2xl lg:text-3xl">相手はどんな情報や行動を求めていますか？</p>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :information, "個人情報(名前、住所、電話番号など)", id: "information_personal_info", class: "js-check-information" %>
                    <%= f.label :information_personal_info, "個人情報(名前、住所、電話番号など)", for: "information_personal_info", class: "ml-2 w-full" %>
                  </div>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :information, "金融情報(クレジットカード番号、銀行講座情報など)", id: "information_financial_info", class: "js-check-information" %>
                    <%= f.label :information_financial_info, "金融情報(クレジットカード番号、銀行講座情報など)", for: "information_financial_info", class: "ml-2 w-full" %>
                  </div>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :information, "URLのクリック", id: "information_url_click", class: "js-check-information" %>
                    <%= f.label :information_url_click, "URLのクリック", for: "information_url_click", class: "ml-2 w-full" %>
                  </div>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :information, "身分証明書のコピー", id: "information_id_copy", class: "js-check-information" %>
                    <%= f.label :information_id_copy, "身分証明書のコピー", for: "information_id_copy", class: "ml-2 w-full" %>
                  </div>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :information, "高額商品の購入", id: "information_high_value_purchase", class: "js-check-information" %>
                    <%= f.label :information_high_value_purchase, "高額商品の購入", for: "information_high_value_purchase", class: "ml-2 w-full" %>
                  </div>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :information, "ATMなどに向かう", id: "information_money_aid", class: "js-check-information" %>
                    <%= f.label :information_money_aid, "ATMなどに向かう", for: "information_money_aid", class: "ml-2 w-full" %>
                  </div>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :information, "会員の勧誘", id: "information_membership", class: "js-check-information" %>
                    <%= f.label :information_membership, "会員の勧誘", for: "information_membership", class: "ml-2 w-full" %>
                  </div>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :information, "その他", id: "information_other", class: "js-check-information" %>
                    <%= f.label :information_other, "その他", for: "information_other", class: "ml-2 w-full" %>
                  </div>
                    <span id="information"><%= f.text_area :information, id: "information_text", disabled: true, required: true, placeholder: "具体的に入力してください", class:"w-full h-24 border-b border-dashed textarea textarea-bordered" %></span>
                  <div class="flex flex-row justify-between">
                    <button type="button" data-action="step-form#prevStep" class="btn btn-success mt-10 w-1/4 md:text-xl">戻る</button>
                    <button type="button" data-action="step-form#nextStep" class="btn btn-warning mt-10 w-1/4 md:text-xl">次へ</button>
                  </div>
              </div>
            </div>
          </div>
        </div>

        <div id="step4" style="display: none;" data-step-form-target="step">
            <div class="m-4 overflow-x-auto flex justify-center">
              <%= render partial: 'layouts/steps', locals: { now_step: 4 } %>
            </div>
          <div class="card bg-gray-50 shadow-xl m-4">
            <div class="card-body">
              <div class="flex flex-col text-slate-950">
                <p class="card-title text-orange justify-center py-4 md:text-2xl lg:text-3xl">行動を急ぐように求められますか?(今がチャンス!や緊急です!など)</p>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :urgent_action, "はい", id: "urgent_action_yes" %>
                    <%= f.label :urgent_action_yes, "はい", for: "urgent_action_yes", class: "ml-2 w-full" %>
                  </div>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :urgent_action, "いいえ", id: "urgent_action_no" %>
                    <%= f.label :urgent_action_no, "いいえ", for: "urgent_action_no", class: "ml-2 w-full" %>
                  </div>
                  <div class="flex flex-row justify-between">
                    <button type="button" data-action="step-form#prevStep" class="btn btn-success mt-10 w-1/4 md:text-xl">戻る</button>
                    <button type="button" data-action="step-form#nextStep" class="btn btn-warning mt-10 w-1/4 md:text-xl">次へ</button>
                  </div>
              </div>
            </div>
          </div>
        </div>

        <div id="step5" style="display: none;" data-step-form-target="step">
            <div class="m-4 overflow-x-auto flex justify-center">
              <%= render partial: 'layouts/steps', locals: { now_step: 5 } %>
            </div>
          <div class="card bg-gray-50 shadow-xl m-4">
            <div class="card-body">
              <div class="flex flex-col text-slate-950">
                <p class="card-title text-orange justify-center py-4 md:text-2xl lg:text-3xl">お金の支払いを求められていますか？</p>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :payment_method, "なし", id: "payment_method_none", class: "js-check-payment" %>
                    <%= f.label :payment_method_none, "なし", for: "payment_method_none", class: "ml-2 w-full" %>
                  </div>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :payment_method, "銀行振込", id: "payment_method_bank_transfer", class: "js-check-payment" %>
                    <%= f.label :payment_method_bank_transfer, "銀行振込", for: "payment_method_bank_transfer", class: "ml-2 w-full" %>
                  </div>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :payment_method, "モバイル決済(PayPayやApplepayなど)", id: "payment_method_mobile_payment", class: "js-check-payment" %>
                    <%= f.label :payment_method_mobile_payment, "モバイル決済(PayPayやApplepayなど)", for: "payment_method_mobile_payment", class: "ml-2 w-full" %>
                  </div>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :payment_method, "現金", id: "payment_method_cash", class: "js-check-payment" %>
                    <%= f.label :payment_method_cash, "現金", for: "payment_method_cash", class: "ml-2 w-full" %>
                  </div>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :payment_method, "その他", id: "payment_method_other", class: "js-check-payment"%>
                    <%= f.label :payment_method_other, "その他", for: "payment_method_other", class: "ml-2 w-full" %>
                  </div>
                    <span id="payment"><%= f.text_area :payment_method, id: "payment_text", disabled: true, required: true, placeholder: "具体的に入力してください", class:"w-full h-24 border-b border-dashed textarea textarea-bordered" %></span>
                  <div class="flex flex-row justify-between">
                    <button type="button" data-action="step-form#prevStep" class="btn btn-success mt-10 w-1/4 md:text-xl">戻る</button>
                    <button type="button" data-action="step-form#nextStep" class="btn btn-warning mt-10 w-1/4 md:text-xl">次へ</button>
                  </div>
              </div>
            </div>
          </div>
        </div>

        <div id="step6" style="display: none;" data-step-form-target="step">
            <div class="m-4 overflow-x-auto flex justify-center">
              <%= render partial: 'layouts/steps', locals: { now_step: 6 } %>
            </div>
          <div class="card bg-gray-50 shadow-xl m-4">
            <div class="card-body">
              <div class="flex flex-col text-slate-950">
              <p class="card-title text-orange justify-center py-4 md:text-2xl lg:text-3xl">会社の情報は提示されましたか？(公式サイトなど)</p>
                <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                  <%= f.radio_button :company_info, "はい", id: "company_info_yes" %>
                  <%= f.label :company_info_yes, "はい", for: "company_info_yes", class: "ml-2 w-full" %>
                </div>
                <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                  <%= f.radio_button :company_info, "いいえ", id: "company_info_no" %>
                  <%= f.label :company_info_no, "いいえ", for: "company_info_no", class: "ml-2 w-full" %>
                </div>
              <div class="flex flex-row justify-between">
                <button type="button" data-action="step-form#prevStep" class="btn btn-success mt-10 w-1/4 md:text-xl">戻る</button>
                <button type="button" data-action="step-form#nextStep" class="btn btn-warning mt-10 w-1/4 md:text-xl">次へ</button>
              </div>
              </div>
            </div>
          </div>
        </div>

        <div id="step7" style="display: none;" data-step-form-target="step">
          <div class="m-4 overflow-x-auto flex justify-center">
            <%= render partial: 'layouts/steps', locals: { now_step: 7 } %>
          </div>
          <div class="card bg-gray-50 shadow-xl m-4">
            <div class="card-body">
              <div class="flex flex-col text-slate-950">
                <p class="card-title text-orange justify-center py-4 md:text-2xl lg:text-3xl">相手は誰ですか？</p>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :who_person, "親族", id: "who_person_relative" %>
                    <%= f.label :who_person_relative, "親族", for: "who_person_relative", class: "ml-2 w-full" %>
                  </div>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :who_person, "社長や役員", id: "who_person_executive" %>
                    <%= f.label :who_person_executive, "社長や役員", for: "who_person_executive", class: "ml-2 w-full" %>
                  </div>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :who_person, "会社員", id: "who_person_employee" %>
                    <%= f.label :who_person_employee, "会社員", for: "who_person_employee", class: "ml-2 w-full" %>
                  </div>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :who_person, "フリーランス", id: "who_person_freelancer" %>
                    <%= f.label :who_person_freelancer, "フリーランス", for: "who_person_freelancer", class: "ml-2 w-full" %>
                  </div>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :who_person, "主婦", id: "who_person_housewife" %>
                    <%= f.label :who_person_housewife, "主婦", for: "who_person_housewife", class: "ml-2 w-full" %>
                  </div>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :who_person, "学生", id: "who_person_student" %>
                    <%= f.label :who_person_student, "学生", for: "who_person_student", class: "ml-2 w-full" %>
                  </div>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :who_person, "無職やフリーター", id: "who_person_unemployed" %>
                    <%= f.label :who_person_unemployed, "無職やフリーター", for: "who_person_unemployed", class: "ml-2 w-full" %>
                  </div>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :who_person, "友人や恋人", id: "who_person_friend" %>
                    <%= f.label :who_person_friend, "友人や恋人", for: "who_person_friend", class: "ml-2 w-full" %>
                  </div>
                  <div class="form-control border-dashed border-b flex flex-row md:text-xl">
                    <%= f.radio_button :who_person, "具体的にはわからない", id: "who_person_unknown" %>
                    <%= f.label :who_person_unknown, "具体的にはわからない", for: "who_person_unknown", class: "ml-2 w-full" %>
                  </div>
                  <div class="flex flex-row justify-between">
                    <button type="button" data-action="step-form#prevStep" class="btn btn-success mt-10 md:text-xl">戻る</button>
                    <%= f.submit  class: "btn btn-warning rounded-full mt-10 w-2/3 md:text-xl" %>
                  </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <!-- モーダルウィンドウ -->
        <div data-loading-modal-target="loadingModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50 hidden">
          <div class="bg-white p-6 rounded-lg shadow-md w-11/12 max-w-lg">
            <p class="text-lg font-bold mb-4 text-center text-slate-950">調査しています、少し待ってほしいぞ...</p>
            <div class="flex justify-center mb-4">
              <span class="loading loading-dots loading-lg"></span>
            </div>
            <p class="text-sm text-gray-700">初めて診断される詐欺には少し時間がかかります...</p>
          </div>
        </div>
  </div>
