<div class="flex-grow container mx-auto  flex flex-col items-center  text-orange">
    <p class="my-8 text-4xl">選択してください</p>
    <%= form_with model: @fraud_report do |f| %>
      <div class="text-xl">

        <div class="w-full mb-4">
            <%= f.label :contact_method %>
            <%= f.select :contact_method, options_for_select(["電話", "メール", "SMS(ショートメッセージ)", "ソーシャルメディアFacebook、Twitterなど", "直接の訪問", "メッセージングアプリ（LINE、WhatsAppなど）"]), 
            { include_blank: "選択して下さい" }, class: "text-slate-950" %>
        </div>

        <div class="w-full mb-4">
            <%= f.label :contact_content %>
            <%= f.select :contact_content, options_for_select(["投資の勧誘", "ビジネスセミナーの案内", "賞金や景品の当選通知", "求人情報", "ロマンスやデートの誘い", "技術サポートの提供", "カジノ/ギャンブルの勧誘", "その他"]), 
            { include_blank: "選択して下さい" }, class: "text-slate-950" %>
        </div>

        <div class="w-full mb-4">
            <%= f.label :information %>
            <%= f.select :information, options_for_select(["個人情報(名前、住所、電話番号など)", "金融情報(クレジットカード番号、銀行講座情報など)", "身分証明書のコピー", "パスワード", "暗号通貨ウォレットの秘密鍵", "金銭援助", "ギフト送付"]), 
            { include_blank: "選択して下さい" }, class: "text-slate-950" %>
        </div>

        <div class="w-full mb-4">
            <%= f.label :urgent_action %>
            <%= f.select :urgent_action, options_for_select(["はい", "いいえ"]), 
            { include_blank: "選択して下さい" }, class: "text-slate-950" %>
        </div>

        <div class="w-full mb-4">
            <%= f.label :payment_method %>
            <%= f.select :payment_method, options_for_select(["銀行振込", "クレジットカード", "デビットカード", "モバイル決済(PayPayやApplepayなど)", "現金", "プリペイドカード", "ギフトカード", "暗号通貨", "その他"]), 
            { include_blank: "選択して下さい" }, class: "text-slate-950" %>
        </div>

        <div class="w-full mb-4">
            <%= f.label :company_info %>
            <%= f.select :company_info, options_for_select(["はい", "いいえ"]), 
            { include_blank: "選択して下さい" }, class: "text-slate-950" %>
        </div>

        <div class="w-full mb-4">
            <%= f.label :additional_details %>
            <%= f.text_field :additional_details, class: "text-slate-950" %>
        </div>

        <div class="w-full mb-4 mt-10 text-center btn w-64 rounded-full">
            <%= f.submit "診断する" %>
        </div>

      </div>
    <%end%>
</div>
