<% content_for(:title, t('.title')) %>
<div class="flex flex-col m-4">
	<div class="card bg-gray-50 shadow-xl">
		<div class="card-body">
				<div class="flex justify-center text-xl md:text-4xl text-orange border-dashed border-b">
					<%= @scam.name %>
				</div>
				<div class="flex justify-center my-4 text-sm md:divider md:divider-info md:text-xl">
						<%= @scam.content %>
				</div>
			<div class="flex flex-col p-4 border md:text-xl">
				<p class="mb-2 badge badge-secondary">確認するポイントだぞ!</p>
				<div class="border-dashed border-b">
					<i class="fa-regular fa-square-check"></i>
					<%= @scam.point_1 %>
				</div>
				<div class="border-dashed border-b">
					<i class="fa-regular fa-square-check"></i>
					<%= @scam.point_2 %>
				</div>
				<div class="border-dashed border-b">
					<i class="fa-regular fa-square-check"></i>
					<%= @scam.point_3 %>
				</div>
			</div>
			<div class="flex flex-row justify-between mt-10 md:m-10">
				<%= link_to "詐欺手口", scam_path(@scam), class: "btn btn-success w-24 md:w-48 md:text-xl rounded-full" %>
					<div class="text-gray-600">
					<% prepare_meta_tags @scam %>
					<% twitter_share_url = "https://twitter.com/share?url= #{CGI.escape(fraud_report_url(@fraud_report))}" %>
						<%= link_to twitter_share_url, target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア" do %>
						<i class="fa-brands fa-square-x-twitter fa-2xl"></i>
						<% end %>
				</div>
				<%= link_to "投稿一覧", posts_path, class: "btn btn-warning w-24 md:w-48 md:text-xl rounded-full" %>
			</div>
		</div>
	</div>
</div>