<div class="card bg-gray-50 shadow-xl m-4">
  <div class="card-body">
    <div class="text-center text-xl">
      <P class="text-orange text-4xl border-b border-gray-500 border-dashed">相談先一覧</P>

      <div class="mt-8 border-b border-dashed p-2">
        <p class="">警察に相談したい場合</p>
        <p class="p-2 text-4xl">#9110</p>
        <p>出典: 政府広報オンライン(<%= link_to  "https://www.gov-online.go.jp/useful/article/201309/3.html",
        "https://www.gov-online.go.jp/useful/article/201309/3.html", class: "text-sky-500", target: '_blank', rel: "noopener noreferrer" %>)</p>
      </div>
      <div class="m-8 border-b border-dashed p-2">
        <p class="">悪質商法などの消費者トラブル関連</p>
        <p class="p-2 text-4xl">188</p>
        <p>出典: 消費者庁ウェブサイト(<%= link_to  "消費者庁ウェブサイトリンク",
        "https://www.caa.go.jp/policies/policy/local_cooperation/local_consumer_administration/hotline/", class: "text-sky-500", target: '_blank', rel: "noopener noreferrer" %>)</p>
      </div>
      <div class="m-8 border-b border-dashed p-2">
        <p class="p-2">各都道府県警察の犯罪被害相談窓口</p>
        <p>出典: 警察庁ウェブサイト(<%= link_to  "https://www.npa.go.jp/higaisya/ichiran/index.html","https://www.npa.go.jp/higaisya/ichiran/index.html", class: "text-sky-500", target: '_blank', rel: "noopener noreferrer" %>)</p>
      </div>
      <div class="m-8 border-b border-dashed p-2">
        <p class="p-2">全国の消費生活センター等</p>
        <p>出典: 国民生活センターウェブサイト(<%= link_to  "https://www.kokusen.go.jp/map/","https://www.kokusen.go.jp/map/", class: "text-sky-500", target: '_blank', rel: "noopener noreferrer" %>)</p>
      </div>
      <div class="m-8 border-b border-dashed p-2">
        <p class="p-2">振り込め詐欺に遭われた方へ</p>
        <p>出典: 金融庁ウェブサイト(<%= link_to  "https://www.fsa.go.jp/policy/kyuusai/furikome/index.html",
        "https://www.fsa.go.jp/policy/kyuusai/furikome/index.html", class: "text-sky-500", target: '_blank', rel: "noopener noreferrer" %>)</p>
      </div>
      <div class="m-8 border-b border-dashed p-2">
        <p class="p-2">金融犯罪に遭った場合のご相談・連絡先</p>
        <P>出典: 全国銀行協会(<%= link_to  "https://www.zenginkyo.or.jp/hanzai/information/","https://www.zenginkyo.or.jp/hanzai/information/", class: "text-sky-500", target: '_blank', rel: "noopener noreferrer" %>)</p>
      </div>
      <div class="m-8 border-b border-dashed p-2">
        <p class="p-2">詐欺的な投資に関する相談ダイヤル</p>
        <p>出典: 金融庁ウェブサイト(<%= link_to  "https://www.fsa.go.jp/ordinary/chuui/sns.html","https://www.fsa.go.jp/ordinary/chuui/sns.html", class: "text-sky-500", target: '_blank', rel: "noopener noreferrer" %>)</p>
      </div>
      <div class="m-8 border-b border-dashed p-2">
        <p class="p-2">フィッシング詐欺に対する通報</p>
        <p>インターネット・ホットラインセンター(<%= link_to  "https://www.internethotline.jp/reports7/","https://www.internethotline.jp/reports7/", class: "text-sky-500", target: '_blank', rel: "noopener noreferrer" %>)
      </div>
      <div class="m-12 border-b border-dashed p-2">
        <p>その他にいろいろな弁護士が、無料相談などを実施しています。</p>
        <p>「詐欺被害相談」などで検索して見てください。</p>
      </div>
    </div>
  </div>
</div>

