<% content_for(:title, t('.title')) %>
<div class="flex flex-col items-center text-slate-950">
  <div class="card bg-gray-50 shadow-xl my-10 mx-4 w-4/5">
    <div class="card-body">
      <p class="flex justify-center text-orange text-xl">ユーザー登録</p>
      <%= form_with model: @user, data: { turbo: false } do |f| %>
        <div class="flex flex-col m-2">
          <%= f.label :name, class: "input input-bordered flex items-center gap-2" do %>
						<i class="fa-solid fa-user-secret"></i>
            <%= f.text_field :name, class: "grow", placeholder: "名前" %>
          <% end %>
        </div>
        <div class="flex flex-col m-2">
          <%= f.label :email, class: "input input-bordered flex items-center gap-2" do %>
						<i class="fa-solid fa-envelope"></i>
            <%= f.email_field :email, class: "grow", placeholder: "メールアドレス" %>
          <% end %>
        </div>
        <div class="flex flex-col m-2">
          <%= f.label :password, class: "input input-bordered flex items-center gap-2" do %>
						<i class="fa-solid fa-key"></i>
            <%= f.password_field :password, class: "grow", placeholder: "パスワード(6文字以上)" %>
          <% end %>
        </div>
        <div class="flex flex-col m-2">
          <%= f.label :password_confirmation, class: "input input-bordered flex items-center gap-2" do %>
						<i class="fa-solid fa-key"></i>
            <%= f.password_field :password_confirmation, class: "grow", placeholder: "パスワードもう一度" %>
          <% end %>
        </div>
        <div class="flex flex-col mt-4">
          <%= f.submit "登録する", class: "btn btn-warning rounded-full" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
