<%= search_form_for q, url: url do |f| %>
  <% if search_target == 'post' %>
  <div class="" data-controller="autocomplete" data-autocomplete-min-length-value="2" data-autocomplete-url-value="/posts/autocomplete" role="combobox">
    <%= f.search_field :users_scam_name_cont, class: 'form-control', data: { autocomplete_target: 'input' }, placeholder: '詐欺名' %>
    <%= f.hidden_field :users_scam_name_cont, data: { autocomplete_target: 'hidden' } %>
    <ul class="list-group mt-4 text-xs" data-autocomplete-target="results"></ul>
    </div>
  <% elsif search_target == 'scam' %>
    <div class="" data-controller="autocomplete" data-autocomplete-min-length-value="2" data-autocomplete-url-value="/scams/autocomplete" role="combobox">
      <%= f.search_field :name_cont, class: 'form-control', data: { autocomplete_target: 'input' }, placeholder: '詐欺名' %>
      <%= f.hidden_field :name, data: { autocomplete_target: 'hidden' } %>
      <ul class="list-group mt-4 text-xs" data-autocomplete-target="results"></ul>
    </div>
  <% end %>
  <%= f.submit '検索', class: 'btn btn-primary' %>
<% end %>
