<% content_for(:title, t('.title')) %>
<div class="flex flex-col items-center text-orange">
	<div class="text-4xl m-6">
		<p class="font-mono"><%= t('.title') %></p>
	</div>
	<div class="text-slate-950 w-4/5">
		<%= render 'shared/search', q: @q, url: scams_path, search_target: @search_target %>
	</div>
	<div class="w-full">
	<%= turbo_frame_tag "scams-list" do %>
		<% if @scams.present? %>
			<%= render partial: 'scams/scam', locals: { scams: @scams }  %>
		<% else %>
			<div class="flex justify-center mt-10 text-xl">
					詐欺情報がありません
			</div>
		<% end %>
	</div>
		<div class="my-10">
			<%= paginate @scams %>
		</div>
	<% end %>
</div>
