<% content_for(:title, t('.title')) %>
<div class="flex flex-col items-center text-orange">
  <div class="text-4xl m-6">
    <p class="font-mono"><%= t('.title') %></p>
  </div>
  <div class="text-slate-950 w-4/5">
    <%= render 'shared/search', q: @q, url: posts_path, html: { data: { turbo_frame: "posts-search-list" } }, search_target: @search_target %>
  </div>
  <div class="w-full mt-10 overflow-hidden">
  <%= turbo_frame_tag "posts-list" do %>
    <% if @posts.present? %>
      <div class="animate-slide-in-right">
        <%= render partial: 'posts/post', locals: { posts: @posts } %>
      </div>
    <% else %>
      <div class="text-center py-4">
        投稿はありません
      </div>
    <% end %>
  </div>
    <div class="my-10">
      <%= paginate @posts %>
    </div>
  <% end %>
</div>
