<% content_for(:title, t('.title')) %>
<div class="flex flex-col items-center text-orange m-8">
	<div class="card bg-gray-50 shadow-xl w-full">
		<div class="card-body">
			<p class="flex justify-center border-dashed border-b text-4xl">新規投稿</p>
				<%= form_with model: @post, url: posts_path, local: true, data: { turbo: false } do |f| %>
					<div class="flex flex-col m-2">
							<%= f.label :title %>
							<%= f.text_field :title,  class: "text-slate-950 input input-bordered" %>
					</div>
					<div class="flex flex-col m-2">
							<%= f.label :users_scam_name %>
							<%= f.text_field :users_scam_name,  class: "text-slate-950 input input-bordered" %>
					</div>
				<div data-controller="preview">
					<div class="flex flex-col mt-10 mx-2 mb-2" data-controller="textarea">
							<%= f.label :body %>
							<%= f.text_area :body,  class: "text-slate-950 textarea textarea-bordered resize-none min-h-64", data: { action: "input->textarea#resize", textarea_target: "textarea", preview_target: "textarea" } %>
							<button type="button" id="preview-button" data-action="click->preview#preview" data-preview-target="previewButton" class="btn btn-success mt-10">プレビュー</button>
							<div id="preview-area" data-preview-target="previewArea" class=" markdown-body text-slate-950 whitespace-pre-line border border-dashed border-gray-500 rounded h-full min-h-64"></div>
							<button type="button" id="edit-button" data-action="click->preview#edit" data-preview-target="editButton" class="btn btn-secondary mt-10" style="display: none;">記述する</button>
					</div>
				</div>
					<div class="mt-10 text-center">
									<%= f.submit "投稿する", class: "justify-items-center btn btn-warning w-64 rounded-full" %>
					</div>
				<% end %>
		</div>
	</div>
</div>

