<% content_for(:title, t('.title')) %>
<div class="flex flex-col items-center text-orange m-8">
	<div class="card bg-gray-50 shadow-xl w-full">
		<div class="card-body">
			<div class="text-xl border-dashed border-b border-gray-500 px-4 overflow-x-auto">
				<%= @post.title %>
			</div>
			<div class="text-xl border-dashed border-b border-gray-500 px-4 mt-4 overflow-x-auto">
				<%= @post.users_scam_name %>
			</div>
			<div class="text-slate-950 my-10 border border-dashed border-gray-500 overflow-auto rounded">
				<div class="markdown-body whitespace-pre-line px-4 py-2">
				<%= markdown(@post.body) %>
				</div>
			</div>
			<div class="flex justify-between">
				<div class="text-success">
					<%= link_to posts_path do %>
						<i class="fa-solid fa-circle-left fa-2xl "></i>
					<% end %>
				</div>
				<div class="text-gray-600">
				<% prepare_meta_tags @post %>
				<% twitter_share_url = "https://twitter.com/share?url= #{CGI.escape(post_url(@post))}" %>
				<%= link_to twitter_share_url, target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア" do %>
				<i class="fa-brands fa-square-x-twitter fa-2xl"></i>
				<% end %>
				</div>
				<% if current_user.own?(@post) %>
				<div class="">
						<%= link_to "#" do %>
						<i class="fa-solid fa-pen-clip fa-2xl "></i>
						<% end %>
						<%= link_to "#" do  %>
						<i class="fa-solid fa-trash-can fa-2xl"></i>
						<% end %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>

