<% content_for(:title, t('.title')) %>
<div class="flex flex-col items-center text-orange md:m-4">
	<div class="card bg-gray-50 shadow-xl my-6 w-full">
		<div class="card-body">
			<div class="text-2xl md:text-4xl mt-8 font-mono text-center border-dashed border-b border-gray-500 overflow-x-auto">
				<%= @post.title %>
			</div>
			<div class="flex justify-between my-4">
				<div class="text-xl text-center inline-block bg-blue-100 text-blue-800 text-xs px-2 py-1 rounded-full w-auto">
					<%= @post.users_scam_name %>
				</div>
				<div class="text-gray-600 md:text-xl">
				<%= @post.created_at.strftime('%Y/%m/%d') %>
				</div>
			</div>
			<div class="text-gray-600 my-10 rounded">
				<div class="markdown-body whitespace-pre-line py-2">
					<%= markdown(@post.body) %>
				</div>
			</div>
			<div class="flex justify-between">
				<div class="text-success">
					<%= link_to posts_path do %>
						<i class="fa-solid fa-circle-left fa-2xl "></i>
					<% end %>
				</div>
				<div class="text-gray-600">
					<% prepare_meta_tags @post %>
					<% twitter_share_url = "https://twitter.com/share?url= #{CGI.escape(post_url(@post))}" %>
					<%= link_to twitter_share_url, target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア" do %>
					<i class="fa-brands fa-square-x-twitter fa-2xl"></i>
					<% end %>
				</div>
				<% if current_user && current_user.own?(@post) %>
					<div class="">
						<%= link_to edit_post_path(@post) do %>
						<i class="fa-solid fa-pen-clip fa-2xl "></i>
						<% end %>
						<%= link_to post_path(@post), data: { turbo_method: :delete, turbo_confirm: "削除しますか？" } do  %>
						<i class="fa-solid fa-trash-can fa-2xl"></i>
						<% end %>
					</div>
			</div>
			<% end %>
		</div>
	</div>
</div>

