<div class="flex-grow container mx-auto  flex flex-col items-center  text-orange">
    <div class="mt-4 mb-8 text-4xl">
    <%= @post.title %>
    </div>
    <div class="mt-4 text-slate-950 text-xl">
        <%= @post.scam.name %>
    </div>
    <div class="mt-4 text-slate-950 text-2xl">
        <%= @post.body %>
    </div>
        <% if current_user.own?(@post) %>
            <div class="w-full flex justify-between mt-10 px-40">
                <%= link_to "編集", edit_post_path(@post), class: "btn w-32 rounded-full mt-2" %>
                <%= link_to "削除", "#", class: "btn w-32 rounded-full mt-2" %>
            </div>
        <% end %>
</div>

