<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="flex flex-col min-h-screen bg-primary">
    <%= render 'shared/header' %>
    <div class="flex-grow">
    <%= yield %>
    </div>
    <%# 画像の配置%>
        <div class="w-full flex justify-start">
        <%= image_tag "characttor.jpeg", class: "w-40 h-40 my-10" %>
        </div>   

    <%= render 'shared/footer' %>
  </body>
</html>
