<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://kit.fontawesome.com/18d70577db.js" crossorigin="anonymous"></script>

    <%= display_meta_tags %>
  </head>

  <body class="flex flex-col min-h-screen bg-primary">
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= render 'layouts/flash_messages' %>
      <div class="flex-grow">
      <%= yield %>
      </div>
      <%= render 'shared/footer' %>
  </body>
</html>
